.header {
  min-height: 800px;
}
.navbar-container {
  font-size: 1.4rem;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.navbar {
  display: inline-block;
  height: 100%;
  line-height: 4.6rem;
}

.navbar_heading {
  display: inline-block;
}

.navbar__link {
  font-size: 1.8rem;
  color: var(--white-color);
  text-decoration: none;
  padding: 0 27px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
}
.navbar__link:hover {
  background-color: #ccc;
  color: var(--black-color);
}
.header__img {
  background-image: url(https://images.pexels.com/photos/5441742/pexels-photo-5441742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  width: 100%;
  padding-top: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__infor {
  position: absolute;
  top: 111px;
  display: flex;
  flex-direction: column;
}

.header__infor-heading {
  font-size: 9rem;
  margin-bottom: 56px;
  text-align: center;
  color: #fff;
}

.header__infor-description {
  font-size: 2rem;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  line-height: 3rem;
  color: #f5f5f5;
}

.header__socials {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 24px 0;
}

.header__socials-item {
  font-size: 2.6rem;
  padding: 12px 17px;
  border-radius: 5px;
}

.header__socials-icon {
  text-decoration: none;
  color: var(--white-color);
}
.header__socials-item:hover {
  background-color: #ccc;
}
.header__down-circle {
  font-size: 4.6rem;
  position: absolute;
  color: #fff;
  bottom: 23px;
  cursor: pointer;
}
.img-avatar {
  width: 120px;
  border-radius: 50%;
}
#about {
  background: rgb(43, 43, 43);
  padding: 108px 0;
}

.img-avatar-container {
}
#about h2 {
  color: #fff;
  margin-bottom: 12px;
  font-size: 2.3rem;
}
#about p {
  line-height: 30px;
  color: #7a7a7a;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.download-resume {
  margin-top: 10px;
}

a.download-resume-link {
  padding: 18px 30px;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  background: rgb(68, 68, 68);
}
a.download-resume-link:hover {
  background-color: #ccc;
  cursor: pointer;
  color: #000;
}
i.fas.fa-download {
  margin-right: 5px;
}
#resume h1 span {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
}
#resume {
  padding: 108px 0;
}
.education {
  padding-bottom: 24px;
  margin-bottom: 48px;
  border-bottom: 1px solid #ccc;
}

.coderschool__heading {
  font-size: 2.2rem;
  color: rgb(59, 54, 49);
  margin-bottom: 12px;
}

.coderschool__sub-heading {
  font: 16px/24px "librebaskerville-italic", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

.coderschool__date {
  font: 15px/24px "opensans-regular", sans-serif;
  margin-top: 6px;
}

.coderschool__description {
  font-size: 1.4rem;
  margin-bottom: 28px;
  opacity: 0.7;
}
.skill__heading {
}
.experience__heading {
  font-size: 1.4rem;
  opacity: 0.7;
  padding-bottom: 20px;
}
p.experience__skill-heading {
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}
.experience__skill-item {
  width: 100%;
  background-color: #ddd;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.redux,
.nodejs,
.git,
.javascript,
.reactjs {
  width: 1%;
  background-color: rgb(49, 49, 49);
}

/* project */

#project {
  padding: 100px 0;
  background-color: rgb(235, 238, 238);
}

.project-container {
  min-height: 400px;
}

.project__heading {
  text-align: center;
  font-size: 1.4rem;
  opacity: 0.7;
  letter-spacing: 1px;
  margin-bottom: 48px;
}
.project__item {
  position: relative;
  width: 200x;
  height: 120px;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.project__item-link {
  width: 100%;
  height: 100%;
}
.project__item-img {
  max-width: 100%;
  height: auto;
}
.project__item:hover .overplay {
  display: block;
  animation: FadeIn linear 3s;
}
.overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 15, 16, 0.9);
  display: none;
}
.overplay-item {
  padding: 18px;
}
h5.overplay-item-heading {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-weight: 600;
}
p.overplay-item-description {
  font-size: 1.2rem;
  /* line-height: 1.4; */
  margin-top: 12px;
  color: #fff;
  opacity: 0.7;
}
.overplay-item-link {
  display: block;
  height: 30px;
  width: 30px;
  /* text-align: center; */
  font-size: 1.6rem;
  position: absolute;
  top: 26%;
  left: 44%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

/* footer */
.footer {
  padding: 90px 0;
  background-color: rgb(25, 25, 25);
}
.footer__message-icon {
  width: 78px;
  margin-bottom: 42px;
}
i.far.fa-envelope {
  font-size: 8rem;
  color: #fff;
}
.label-item {
  width: 166px;
  height: 24px;
  margin: 12px 0;
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
}
.label-icon {
  color: #11abb0;
  font-size: 1.3rem;
}
.label-input {
  width: 376px;
  height: 24px;
  padding: 19px 0px;
  margin-bottom: 42px;
}

.label-item-mesage {
}
.infor__address h3 {
  color: #fff;
  font-size: 1.7rem;
}
.infor__address-phone {
  color: #ccc;
  opacity: 0.6;
  font-size: 1.4rem;
  margin: 10px 0;
}
